@font-face {
    font-family: 'Bazar';
    src: url('../fonts/Bazar/Bazar.ttf') format('ttf'),
    url('../fonts/Bazar/Bazar.woff') format('woff'),
    url('../fonts/Bazar/Bazar.woff2') format('woff2');
}

@font-face {
    font-family: 'SeasideResortNF';
    src: url('../fonts/SeasideResortNF/SeasideResortNF.ttf') format('ttf'),
    url('../fonts/SeasideResortNF/SeasideResortNF.woff') format('woff'),
    url('../fonts/SeasideResortNF/SeasideResortNF.woff2') format('woff2');
}