$slick-font-path: "../vendor/slick-1.8.1/slick/fonts/";
$slick-loader-path: "../vendor/slick-1.8.1/slick/";

/*
Colors
 */
$beigeColor: #f9ebd9;
$greyColor: #45484b;
$whiteColor: #fbfaf6;
$blueColor: #7ababa;
$blackColor: #393a3a;
$redColor: #d45244;
$lightGreyColor: #959ca3;

/*
Fonts
 */
$mainFontFamily: 'Bazar', serif;
$sectionHeaderFontFamily: 'SeasideResortNF', serif;
$sectionDescriptionFontFamily: 'Oswald', serif;
$textFontFamily: 'Roboto Slab', serif;
